<launch>

	<!-- Arguments -->
  <arg name="camera" default="base_link"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <remap from="image" to="bebop/image_raw"/>
    <param name="base_link_frame_id" value="$(arg camera)"/>
  </node>

</launch>